apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-devops-e2e-deployment
  namespace: python-devops-e2e
  labels:
    app: python-devops-e2e
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-devops-e2e
  template:
    metadata:
      labels:
        app: python-devops-e2e
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
        - name: python-devops-e2e
          image: 481317144779.dkr.ecr.us-east-1.amazonaws.com/python-devops-e2e-repo:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"




