apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: python-devops-e2e-hpa
  namespace: python-devops-e2e
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: python-devops-e2e-deployment
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
